src/
*.ts
!dist/**/*.d.ts
tsconfig.json
.eslintrc.js
.prettierrc
.prettierignore
node_modules/
.git/
.gitignore
img/
sketch/
tmp/
yarns/
getColors.js
*.log
.env
coverage/
.nyc_output/
**/*.test.js
**/*.spec.js

